{{ $trend_paths := getJSON "https://sm-google-trend-public.s3.eu-central-1.amazonaws.com/agg/metadata.json" }}

{{ $cat := "0" }}
{{ $timeframe := "today 5-y" }}

{{ $keywords := slice }}
{{ $geo := slice }}
{{ with $trend_paths }}
  {{ range . }}
      {{ $keywords = $keywords | append (index . "keyword") }}
      {{ $geo = $geo | append (index . "geo") }}
  {{ end }}
{{ end }}

{{ $keywords = $keywords | uniq }}
{{ $geo = $geo | uniq }}

<select id="selected_geo">
  <option value="{{ index $geo 0 | lower }}" selected="selected">{{ i18n (index $geo 0) }}</option>
  {{ with after 1 $geo }}
    {{ range . }}
    <option value="{{ . | lower }}" selected="selected">{{ i18n . }}</option>
    {{ end }}
  {{ end }}
</select>
<select id="selected_keyword">
  <option value='{{ replace (index $keywords 0) " " "-" }}' selected="selected">{{ index $keywords 0 }}</option>
  {{ with after 1 $keywords }}
    {{ range . }}
      <option value='{{ replace . " " "-" }}'>{{ . }}</option>
    {{ end }}
  {{ end }}
</select>

<div id="trend-chart" class="w-full" ></div>

<script>

function visualizeTrendForecast(dataURL, query) {
  dataJSONUrl = dataURL + "/data.json"
  forecastJSONUrl = dataURL + "/forecast.json"
  Promise.all([
    d3.json(dataJSONUrl),
    d3.json(forecastJSONUrl)
  ]).then(function([data, forecasts]) {
    console.log("data")
    console.log(data)
    console.log("forecast")
    console.log(forecasts)

    x = data.map( function(item) { return item.date })
    y = data.map( function(item) { return item.value })
    x_forecast = forecasts.map( function(item) { return item.date })
    y_forecast = forecasts.map( function(item) { return item.value })

    var data = [
      {
        x: x,
        y: y,
        type: "scatter",
        mode: "lines",
        name: '{{ i18n "ts_vis_legend_trends" }}',
        marker: {
          color: 'rgb(0,0,0,0.125)',
          opacity: 0.7,
        }
      },
      {
        x: x_forecast,
        y: y_forecast,
        type: "scatter",
        mode: "lines",
        name: '{{ i18n "ts_vis_legend_forecasts" }}',
        marker: {
          color: 'red',
          opacity: 0.7,
        },
        line: {
          dash: 'dashdot',
          width: 2,
          color: 'red'
        }
      }
    ];

    x_forecast_min = x_forecast[0]
    x_forecast_max = x_forecast[x_forecast.length-1]
    console.log("forecast min date", x_forecast_min, "from", x_forecast)
    console.log("forecast max date", x_forecast_max, "from", x_forecast)

    var layout = {
      title: '{{ i18n "ts_vis_title_prefix" }}: ' + query,
      xaxis: {
        autorange: true,
        rangeselector: {buttons: [
            {
              count: 6,
              label: '{{ i18n "ts_vis_6m" }}',
              step: 'month',
              stepmode: 'backward'
            },
            {
              count: 12,
              label: '{{ i18n "ts_vis_12m" }}',
              step: 'month',
              stepmode: 'backward',
            },
            {
              count: 24,
              label: '{{ i18n "ts_vis_24m" }}',
              step: 'month',
              stepmode: 'backward',
              active: true
            },
            {
              step: 'all',
              label: '{{ i18n "ts_vis_all" }}'
            }
          ]},
        rangeslider: {},
        type: 'date'
      },
      legend: {
        x: 1,
        xanchor: 'right',
        y: 1.2,
        orientation: 'h'
      },
      shapes: [
        {
            type: 'rect',
            xref: 'x',
            yref: 'paper',
            x0: x_forecast_min,
            y0: 0,
            x1: x_forecast_max,
            y1: 1,
            fillcolor: '#f1807e',
            opacity: 0.2,
            line: {
                width: 0
            }
        },
      ]
    };

    Plotly.newPlot('trend-chart', data, layout, {displayModeBar: false});
  })
}

function visualizeTrend(jsonUrl, query) {
  d3.json(jsonUrl)
  .then(function (data) {
    console.log(data)

    x = data.map( function(item) { return item.date })
    y = data.map( function(item) { return item.value })
    {{/*  query = data.map( function(item) {return item.query })[0]  */}}

    var data = [
      {
        x: x,
        y: y,
        type: 'line',
        marker: {
          color: 'rgb(0,0,0,0.125)',
          opacity: 0.7,
        }
      }
    ];
    var layout = {
      title: "Weekly Trend for " + query,
    };

    Plotly.newPlot('trend-chart', data, layout, {displayModeBar: false});
})
.catch(function (error) {
  console.log(error)
});
}

let selectedKW = '{{ replace (index $keywords 0) " " "-" }}'
let selectedGeo = '{{ index $geo 0 | lower }}'

let selectingGeoList = document.getElementById('selected_geo');
    selectingGeoList.onchange = (ev) =>{
      let selecetedGeoIndex = selectingGeoList.selectedIndex;
      console.log("Selected index is: " + selecetedGeoIndex);
      let selectedGeoOption = selectingGeoList.options[selecetedGeoIndex];
      console.log("Selected option is: " + selectedGeoOption.outerHTML);
      console.log("Selected value is: " + selectedGeoOption.value);
      console.log("Selected text is: " + selectedGeoOption.text);
      selectedGeo = selectedGeoOption.value

      visualizeTrendUsingUrl(selectedKW, selectedGeo)
    }

let selectingKWList = document.getElementById('selected_keyword');
  selectingKWList.onchange = (ev) =>{
      let selecetedKWIndex = selectingKWList.selectedIndex;
      console.log("Selected index is: " + selecetedKWIndex);
      let selectedKWOption = selectingKWList.options[selecetedKWIndex];
      console.log("Selected option is: " + selectedKWOption.outerHTML);
      console.log("Selected value is: " + selectedKWOption.value);
      console.log("Selected text is: " + selectedKWOption.text);
      selectedKW = selectedKWOption.value

      {{/*  visualizeTrendFor(selectedKW, selectedGeo)  */}}
      visualizeTrendUsingUrl(selectedKW, selectedGeo)
    }


function visualizeTrendFor (keyword, geo) {
  var dataJSONUrl = "https://sm-google-trend-public.s3.eu-central-1.amazonaws.com/agg/keyword=" + keyword + "/cat=0/geo=" + geo + "/timeframe=today-5-y/format=json/snapshot_date=latest/data.json"
  var forecastJSONUrl = "https://sm-google-trend-public.s3.eu-central-1.amazonaws.com/agg/keyword=" + keyword + "/cat=0/geo=" + geo + "/timeframe=today-5-y/format=json/snapshot_date=latest/forecast.json"

  visualizeTrendForecast(dataJSONUrl, forecastJSONUrl, keyword)
}

d3.json("/trends.json")
.then(function (data) {
  console.log("trends.json")
  console.log(data)
  let trend_id = selectedKW + "-0-" + selectedGeo.toUpperCase() + "-today 5-y"
  console.log(trend_id)
  console.log(data[trend_id])
  var dataURL = data[trend_id].substring(0, data[trend_id].lastIndexOf("/"));
  visualizeTrendForecast(dataURL, selectedKW)
})
.catch(function (error) {
  console.log(error)
});

function visualizeTrendUsingUrl (keyword, geo) {
d3.json("/trends.json")
.then(function (data) {
  console.log("trends.json")
  console.log(data)
  let trend_id = keyword + "-0-" + geo.toUpperCase() + "-today 5-y"
  console.log(trend_id)
  var dataURL = data[trend_id].substring(0, data[trend_id].lastIndexOf("/"));
  visualizeTrendForecast(dataURL, keyword)
})
.catch(function (error) {
  console.log(error)
});
}
</script>
